:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-grey: hsl(0, 0%, 20%);
  --clr-dark-grey: hsl(0, 0%, 12%);
  --clr-off-black: hsl(0, 0%, 8%);
  --clr-yellow: #c8e765;
  --fs-p: 0.9375rem;
  --fs-h: 1.125rem;
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
  --ff: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-off-black);
  color: var(--clr-white);
  font-family: var(--ff);
}

h1 {
  margin: 1rem;
  margin-bottom: 0.5rem;
}

p {
  color: #cdcdcd;
}

.location {
  color: var(--clr-yellow);
  margin: 0;
  margin-bottom: 3rem;
}

.container {
  display: flex;
  align-items: center;
  height: 100dvh;
}

.profile {
  background-color: var(--clr-dark-grey);
  max-width: 450px;
  padding: 1.25rem 3rem;
  border-radius: 1rem;
  text-align: center;
  margin-inline: auto;
}

img {
  border-radius: 50%;
}

button {
  background-color: var(--clr-grey);
  display: block;
  border: none;
  margin: 1rem;
  padding: 0.75rem;
  font-family: inherit;
  color: inherit;
  width: 20rem;
  border-radius: 1ch;
}

button:hover {
  background-color: #c4f82a;
  color: var(--clr-grey);
  cursor: pointer;
  transition: 0.25s;
}
