:root {
  --clr-dark-blue-main-bg: hsl(217, 54%, 11%);
  --clr-dark-blue-card-bg: hsl(216, 50%, 16%);
  --clr-dark-blue-line: hsl(215, 32%, 27%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-soft-blue: hsl(215, 51%, 70%);
  --clr-cyan: #40e5ed;
  --fs-p: 1.25rem;
  --ff: 'Outfit', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-dark-blue-main-bg);
  color: var(--clr-white);
  font-family: var(--ff);
  font-size: var(--fs-p);
}

.container {
  display: flex;
  align-items: center;
  height: 100dvh;
  box-shadow: 100px 100px 160px rgb(255, 255, 255);
}

.card-container {
  background-color: var(--clr-dark-blue-card-bg);
  max-width: 450px;
  padding: 1.175rem 1.25rem;
  border-radius: 1rem;
  margin-inline: auto;
}

img {
  border-radius: 1rem;
  max-width: 100%;
}

h2 {
  padding: 1rem 0;
}

p {
  color: var(--clr-soft-blue);
  font-size: var(--fs-p);
  padding: 0.5rem 0;
}

.eth-and-time {
  padding: 1rem 0;
}

.eth {
  display: flex;
  align-items: center;
  float: left;
}

.eth img {
  max-width: 100%;
  margin-right: 0.5rem;
}

.eth p {
  color: var(--clr-cyan);
}

.time {
  display: flex;
  align-items: center;
  float: right;
}

.time img {
  max-width: 100%;
}

.time p {
  padding-left: 0.5rem;
}

hr {
  background-color: var(--clr-dark-blue-line);
  clear: both;
  border: 0;
  height: 1px;
  margin: 1rem;
  margin-top: 3rem;
}

.creation {
  display: flex;
  align-items: center;
}

.creation img {
  max-width: 100%;
  width: 10%;
  margin-right: 10px;
}

.name {
  color: var(--clr-white);
}

/* DO THE ACTIVE MODE */
